<div class="question" *ngFor="let question of data">
    <h2>{{question.question}}</h2>
    <main>
      <ul class="answers">
        <li class="answer" *ngFor="let answer of question.answers; let i = index;" (click)="counter.clickAllVotes()">
          <app-answer [answerComponent]="answer" [answersArray]="question.answers" [id]="i" [allVotes]="1"></app-answer>         
        </li>
      </ul>          
       
      <app-vote #counter></app-vote>          
      <!--<button class="btn-send">Send</button>-->
    </main>
  </div>
  
  