        
//Variables
/*colors*/
$color-dark: #20232a   
$color-light: #c99e10
$color-hover: #acbebe

$font-color-light: #f1f1f2
$font-color-dark: $color-dark
$block-color: $color-dark

/*font*/
$font-family: 'Oswald', sans-serif 
$base-font-size: 16px;

/*button*/
$btn-color: $color-light
$btn-color-hover: $color-hover
$btn-padding: 0.5rem 2rem
$btn-font-size: 1rem  

@mixin button-color($color, $color-text-hover: $font-color-dark) 
    color: $font-color-light
    background-color: $btn-color

    &:hover 
        color: $color-text-hover
        background-color: $color-hover
    
%button 
    display: block
    margin: 0 auto  
    padding: $btn-padding
    font-size: $btn-font-size
    border: none
    transition: all 0.5s    

/*STYLES*/
html
    font-family: $font-family 
    
body
    padding: 0
    margin: 0!important 
    font-size: 14px

strong
    color: $color-light

.poll
    background-image: url('../assets/img/bg3.jpg')
    background-size: cover
    height: 100vh
    width: 100vw
    padding: 0
    margin: 0

.question
    width: 50vw
    background-color: $block-color
    color: $font-color-light
    position: absolute   
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)   
    //box-shadow: 5px 5px 15px 2px 

h2
    padding: 1rem 0
    margin: 0
    font-size: 2rem    
    text-align: center    

    &::after
        content: ''
        display: block
        padding-top: 1rem
        border-bottom: 2px solid $btn-color
        animation: line 1.5s 1s ease

@keyframes line 
    from 
        width: 0%
    to
        width: 100%

main
    padding: 1rem
    ackground-color: $block-color

.answers
    margin: 0
    padding: 0 1rem
    list-style-type: none    

    .answer
        padding: 0 0 0.2rem 0 
        position: relative 

        input
            cursor: pointer

        label
            padding-left: 0.3rem
            cursor: pointer
        
        .vote
            position: absolute
            top: 0
            right: 0
            color: $color-light
            display: inline-block
            width: 5rem
            height: 1.5rem
            margin-left: 1rem
    
.votes
    margin-top: 0.5em        

.btn-send
    @extend %button;
    @include button-color($btn-color)  

    &:hover    
        @include button-color($btn-color-hover)










  



    

    
    

