<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div *ngFor="let question of data">
  <h3>{{question.id}}</h3>
  <h2>{{question.question}}</h2>  
</div>

<h1>Blog Posts</h1>
<div *ngIf="undefined === restItems">Loading...</div>
<div *ngIf="undefined !== restItems">
  <ul>  
    <li *ngFor="let answer of restItems['']" [innerHTML]="answer.id">
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
