<!--The content below is only a placeholder and can be replaced.-->
<section class="poll">
  <div class="question" *ngFor="let q of data">    
    <h2>{{q.question}}</h2>  
    <main>
      <ul class="answers">
        <li class="answer" *ngFor="let a of q.answers">
          <input type="radio" id="{{a.answer}}" name="president" value="{{a.answer}}">
          <label for="{{a.answer}}">{{a.answer}}</label>
        </li>        
      </ul>    
      
    <button class="btn-send">Send</button>
  </main>
  </div>
</section>

<router-outlet></router-outlet>
