@import "../styles.sass"
html
    background-color: grey
.poll
    /*background-image: url('../assets/img/bg3.jpg')*/
    background-size: cover
    background-color: grey
    height: 100%
    width: 100vw
    padding: 50px 0 50px 0
    margin: 0
