<div class="poll">
    <div *ngFor="let poll of data; let i = index;">
        <app-question [question]="poll.question"></app-question>
        <main>
            <ul class="answers">
                <li class="answer" *ngFor="let answer of poll.answers; let i = index;">
                    <app-answer [answerComponent]="answer" [answersArray]="poll.answers" [id]="i"></app-answer>

                </li>
                <!--  (new_answer)='GetAnswer($event)'  <li><input type="radio" name="president"><label>{{goodbye}} </label> </li>
                 <app-add-answer></app-add-answer>
                -->
            </ul>
        </main>

    </div>
    <h3> {{note}} </h3>
    <app-add-note (new_note)='GetNote($event)' [btn_add_note]="btn_add_note"></app-add-note>
</div>